<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LyricLens</title>
</head>
<body>
    <h1>Shazamio Audio Recognition- history!</h1>
    {% block body %}
        {% if res %}
        {% for x in res|reverse %}
            <p> {{x[0]}} by {{x[1]}} </p>
        {% endfor %}
        {% else %}
            <p>Nothing here for now!</p>
        {% endif %}
    {% endblock %}
    <h1>
        <a href="{{ url_for('hello_world') }}">Link to home</a>
    </h1>
</body>