{% extends '_template.html' %}
{% block body %}
<body>
    <img src="{{ url_for('static', filename='images/Lyric Lens (Text Logo and Icon) - Horizontal.png') }}" style="height: 110px; width: 400px; margin: auto;">

    
        {% if res %}
        {% for x in res|reverse %}
            <p style="color: white;"> {{x[0]}} by {{x[1]}} </p>
        {% endfor %}
        {% else %}
            <p style="color: white;">Nothing here for now!</p>
        {% endif %}
    
    <h1>
        <a href="{{ url_for('hello_world') }}">Link to home</a>
    </h1>
</body>
{% endblock %}