{% extends '_template.html' %}
{% block body %}
<body style="text-align: center;">
    <img src="{{ url_for('static', filename='images/Lyric Lens (Text logo).png') }}" style="height: 40px; width: 500px; margin: auto;">
    <form action="/run_listener" method="post">
        <button type="submit" style=" background-color: transparent; border:none;">
            <img src="{{ url_for('static', filename='images/Lyric Lens (Icon).png') }}" style="height: 300px; width: 300px; opacity: 90%;">
        </button>
    </form>

    <h1>
        <a href="{{ url_for('history') }}">Link to history</a>
        <br>
        <a href="{{ url_for('testt')}}">Link to test translate</a>
    </h1>
</body>
</html>

{% endblock %}