<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyric Lens</title>
</head>
<body>
    <h1>Shazamio Audio Recognition - press the button to start the recording</h1>
    <form action="/run_listener" method="post">
        <button type="submit">
            <img src="{{ url_for('static', filename='images/l3.png') }}" style="height: 100px; width: 100px;">
        </button>
    </form>

    <h1>
        <a href="{{ url_for('history') }}">Link to history</a>
        <br>
        <a href="{{ url_for('testt')}}">Link to test translate</a>
    </h1>
</body>
</html>

